body{
  overflow: hidden;
}

html{
  overflow: hidden;
}

:root{
  --background-color: 0; 
  --rectangle-color: 0;  
}

.solid-background{
  background-color: var(--background-color);
}

.rectangle{
  position: absolute;
  top: 20%;
  left: 30%;
  width: 50%;   
  margin:auto;
  display:block;
  height: 20%;
  background-color: var(--rectangle-color);
  mix-blend-mode: multiply;
}

.rectangle:nth-child(2){
  top: 25%;
  left: 35%;
}

.rectangle:nth-child(3){
  top: 30%;
  left: 40%;
}